<div class="row">

  <!-- Title -->
  <h1><%= @subject.name %>
  <% if current_user %>
  	<small><small>[<%= link_to 'Editar', edit_subject_path(@subject) %>]</small></small>
  <% end %>
  <!-- /Title -->

  <!-- Table -->
  <table>
    <thead>  
      <tr>
        <td>Curso</td>
      </tr>
    </thead>
    <tbody>
      <% @subject.courses.each do |course| %>
      <tr>
    	  <td>
          <%= link_to course.name, subject_course_path(@subject, course) %>
    	  </td>
        
        <% if current_user %>
        <td>
          <%= link_to 'Borrar', subject_course_path(@subject, course), method: :delete %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>  
  </table>
  <!-- /Table -->

  <!-- Button to create button -->
  <% if current_user %>
  <%= button_to 'Crear curso', new_subject_course_path(@subject), method: :get %>
  <% end %>
  <!-- /Button -->
</div>